.nav-item {
    padding: 0 5px;
    color: white;
    float: right;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: black;
}

.roll-item {
    border: 1px solid  gainsboro;
    padding: .5rem;
    box-shadow: 0 -1px 4px #ede7e7;
    margin: 1rem;
    background-color: white;
}

img{
  height: 90% !important;
}

.post-list:hover {
    background-color: gray;
}

.preview-roll {
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 0px;
}

.row {
    display: flex;  
}